PORT=5000
NODE_ENV=development

# Database credentials
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=rsolar_crm

# Zoho Inventory credentials
ZOHO_REFRESH_TOKEN_RSOLAR=
ZOHO_CLIENT_ID_RSOLAR=
ZOHO_CLIENT_SECRET_RSOLAR=
ZOHO_REFRESH_TOKEN_URL_RSOLAR=https://accounts.zoho.in/oauth/v2/token
ZOHO_BASE_URL_RSOLAR=https://www.zohoapis.in/books/v3/
ZOHO_ORGANIZATION_ID_RSOLAR=
